}
.social {
  background: black;
  margin-top: 0.5vh;
  height: 3vh;
}
.social i {
  color: white;
  padding: 1em;
  position: relative;
  background: transparent;
}
.social i:hover {
  border-radius: 50%;
}
.social i:not(:first-child) {
  margin-left: 1em;
}
.social i:nth-child(1) {
  color: #3b5998;
  border: 2px solid #3b5998;
}
.social i:nth-child(1):hover {
  color: white;
  background: #3b5998;
}
.social i:nth-child(2) {
  color: #00a0d1;
  border: 2px solid #00a0d1;
}
.social i:nth-child(2):hover {
  color: white;
  background: #00a0d1;
}
.social i:nth-child(3) {
  color: #db4a39;
  border: 2px solid #db4a39;
}
.social i:nth-child(3):hover {
  color: white;
  background: #db4a39;
}
.social i:nth-child(4) {
  color: #c8232c;
  border: 2px solid #c8232c;
}
.social i:nth-child(4):hover {
  color: white;
  background: #c8232c;
}
.social i:nth-child(5) {
  color: #ea4c89;
  border: 2px solid #ea4c89;
}
.social i:nth-child(5):hover {
  color: white;
  background: #ea4c89;
}
